.header-container {
  background: black;
  width: 100%;
}

.header {
  height: 60px;
  margin: auto;
  padding: 0;
  width: 1000px;
  justify-content: space-between;
}

.header-group {
  margin: auto 0;
}

span {
  padding: 8px;
  color: white;
  cursor: pointer;
  margin: auto 0;

  &:hover {
    background: darkgray;
  }
}
