.header-container {
  background: #212121;
  width: 100%;
}

.header {
  height: 60px;
  margin: auto;
  padding: 0;
  width: 800px;
  justify-content: space-between;
}

.header-group {
  margin: auto 0;
}

span {
  font-size: 18px;
  padding: 8px 16px;
  margin: auto 4px;
  color: white;
  cursor: pointer;

  &:hover {
    background: #424242;
    border-radius: 4px;
  }
}
