button {
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #424242;
  width: 140px;
  height: 40px;
  margin: 4px 0;

  &:hover {
    background-color: #616161;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
